In [9]:
import pandas as pd

In [10]:
import numpy as np
arr = np.arange(100,110)
print(arr)

[100 101 102 103 104 105 106 107 108 109]

In [11]:
s = pd.Series(arr)
print(s)

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int64

In [12]:
s.values

array([100, 101, 102, 103, 104, 105, 106, 107, 108, 109])

In [13]:
s.shape

(10,)

## NAN(Not A Number)

In [16]:
s = pd.Series(person + [np.nan])
print(s)

# nan - 파이선의 넌이다

0     kim
1     lee
2    park
3    hong
4     NaN
dtype: object

In [20]:
arr = np.arange(50,55)
s = pd.Series(arr,dtype='float32')
print(s)

0    50.0
1    51.0
2    52.0
3    53.0
4    54.0
dtype: float32

In [21]:
f = ['바나나',np.nan,'사과','포도','복숭아']
s = pd.Series(f,index=list('가나다라마'))
print(s)

가    바나나
나    NaN
다     사과
라     포도
마    복숭아
dtype: object

## 팬시 인덱싱

In [22]:
s[[2,3]]

C:\Users\이아랑\AppData\Local\Temp\ipykernel_14800\1527880992.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[[2,3]]

다    사과
라    포도
dtype: object

In [24]:
s[['다','나']]

다     사과
나    NaN
dtype: object

In [25]:
s.iloc[[2,3]]

다    사과
라    포도
dtype: object

In [29]:
arr = np.arange(5,20)
s = pd.Series(arr)
print(s)

0      5
1      6
2      7
3      8
4      9
5     10
6     11
7     12
8     13
9     14
10    15
11    16
12    17
13    18
14    19
dtype: int64

In [30]:
s[s<10]

0    5
1    6
2    7
3    8
4    9
dtype: int64

In [31]:
s[s==5]

0    5
dtype: int64

In [33]:
a = pd.Series([2,4,2,1,np.nan,2,4,8,np.nan])
print(a)

0    2.0
1    4.0
2    2.0
3    1.0
4    NaN
5    2.0
6    4.0
7    8.0
8    NaN
dtype: float64

In [34]:
a.isnull()

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8     True
dtype: bool

In [37]:
a[a.isnull()]

4   NaN
8   NaN
dtype: float64

In [38]:
s[1:3]

1    6
2    7
dtype: int64

In [39]:
arr = np.arange(9).reshape(3,3)
print(arr)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [41]:
df = pd.DataFrame(arr)
df

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

SyntaxError: positional argument follows keyword argument (1235609896.py, line 5)